{% extends "base.html" %}

{% block body %}
<div class="static l-box pure-g">
    <div class="pure-u-1 pure-u-md-1 pure-u-lg-1-5"></div>
    <div class="pure-u-1 pure-u-md-1 pure-u-lg-3-5">
        <h2 class="content-head is-center">FAQ</h2>
        <h3>Je suis passionné par un sujet, j'aimerais le proposer, que puis-je utiliser comme support pour que sa diffusion soit la meilleure possible ?</h3>

        Vous pouvez faire ce que vous voulez pour améliorer la portée ou l'efficacité de votre présentation ! Rédiger un résumé permet d'avoir une vision gobale et un panorama rapidement du sujet, qui peut donner envie d'approfondir. Rédiger des notes de cours complètes permet à chacun de reprendre en détails ce qui a été fait, notamment les preuves et les points délicats, mais également à d'autres qui n'ont pas suivi la séance d'en profiter pleinement ; c'est également l'occasion d'aller plus loin, de donner plus d'exemples ! Faire des slides peut rendre la présentation plus agréable à suivre, et être attrayant pour des élèves qui n'ont pas envie d'avoir des "heures de cours" supplémentaires. Enfin, votre séance peut être filmée, ce qui permettrait à chaque intéressé partout dans le monde de profiter pleinement de la séance telle qu'elle est ! Dans tous les cas, nous proposerons tous vos documents sur le site du GICS, si vous le voulez bien ;)

        <h3>Je suis élève dans un lycée où le GICS intervient, est-ce que je peux valoriser ma participation aux séances du GICS dans un dossier pour filières sélectives ou dans un CV ?</h3>

        Évidemment ! Un intérêt pour les sciences et un investissement horaire de plusieurs heures dans l'année ne peut être que reconnu et apprécié par les recruteurs et les professeurs qui examinent les dossiers, ils l'ont déjà confirmé ! Nous vous ferons sur simple demande une attestation du GICS qui justifiera votre participations aux séances et détaillera les thèmes abordés, éventuellement avec une appréciation sur votre motivation, votre participation, votre intérêt. N'hésitez pas à demander ;)

        <h3>J'aimerais contribuer au GICS mais je suis loin ou je ne peux absolument pas me libérer...</h3>

        Le GICS est, avant d'être dans les lycées, une initiative de réflexion sur ce que l'on peut proposer de mieux aux élèves, pour leur faire comprendre des sujets passionnants sans leur en cacher la réalité, sur la manière dont on peut attirer les élèves et les inciter à chercher et à réfléchir seuls. Vous pouvez toujours contribuer à cela en donnant vos idées et avis sur les cours présentés, sur les projets en cours, ou sur les débats qui ont lieu entre les membres : rendez-vous vite sur le forum ou les salons de discussion !
    </div>
</div>
{% endblock %}
