<footer>

    <div class="content">

        <div class="pure-g">
            <div class="footer-column l-box pure-u-1 pure-u-md-1 pure-u-lg-1-6">

                <h3>
                    <i class="fa fa-rocket"></i>
                    GICS
                </h3>
                <p>
                    11 rue Pierre-et-Marie-Curie<br />
                    75005 Paris
                </p>
            </div>
            <div class="footer-column l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-6">
                <h3>
                    Association
                </h3>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/">Actualités</a></li>
                    <li><a href="/page/notre-action/">Notre action</a></li>
                    <li><a href="/page/l-equipe/">L'équipe</a></li>
                    <li><a href="/page/historique/">Historique</a></li>
                    <li><a href="/page/documents/">Documents</a></li>
                    <li><a href="/page/communication/">Communication</a></li>
                    <li><a href="/page/nous-aider/">Nous aider</a></li>
                    <li><a href="/page/partenaires/">Partenaires</a></li>
                </ul>
            </div>
            <div class="footer-column l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-6">
                <h3>
                    Lycées
                </h3>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/page/assister-aux-seances/">Assister aux séances</a></li>
                    <li><a href="/page/supports-des-cours/">Supports des cours</a></li>
                    <li><a href="/ecoles/">Lycées partenaires</a></li>
                </ul>
            </div>
            <div class="footer-column l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-6">
                <h3>
                    Intervenants
                </h3>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/page/devenir-intervenant/">Devenir intervenant</a></li>
                    <li><a href="/page/devenir-responsable-de-lycee/">Devenir responsable de lycée</a></li>
                    <li class="divider"></li>
                    <li><a href="/page/ressources-pedagogiques/">Ressources pédagogiques</a></li>
                    <li><a href="/page/temoignages/">Témoignages</a></li>
                    <li><a href="/ateliers/">Les ateliers</a></li>
                </ul>
            </div>
            <div class="footer-column l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-6">
                <h3>
                    Communauté
                </h3>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/forum/">Forum</a></li>
                    <li><a href="/page/citations/">Citations</a></li>
                    <li><a href="/page/enigmes/">Énigmes</a></li>
                </ul>
            </div>
            <div id="column-connect" class="footer-column l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-6">
                <h3>Suivez-nous</h3>
                <ul>
                    <li class="twitter"><a class="external" href="https://twitter.com/gics_asso">Twitter</a></li>
                    <li class="facebook"><a class="external" href="https://www.facebook.com/gics.asso">Facebook</a></li>
                    <li class="linkedin"><a class="external" href="http://www.linkedin.com/company/groupe-pour-l'initiative-et-la-culture-scientifiques-gics-">LinkedIn</a></li>
                    <li class="google"><a target="_blank" href="https://plus.google.com/116028341437164090594/posts">Google+</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>

