<footer>

<nav class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal">
        <a class="pure-menu-heading" href="/">GICS</a> 11 rue Pierre-et-Marie Curie - 75005 Paris

        <ul>
            <li><a href="https://twitter.com/gics_asso"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/gics.asso"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://www.linkedin.com/company/groupe-pour-l'initiative-et-la-culture-scientifiques-gics-"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://plus.google.com/116028341437164090594/posts"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/faq/">FAQ</a></li>
        </ul>
    </div>
</nav>

    <!-- <div class="content">
        <div class="pure-g">
            <div class="footer-column l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <h3>
                    <i class="fa fa-rocket"></i>
                    GICS
                </h3>
                <p>
                    11 rue Pierre-et-Marie-Curie<br />
                    75005 Paris
                </p>
            </div>
            <div id="column-connect" class="footer-column l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <h3>Suivez-nous</h3>
                <ul>
                    <li class="twitter"><a class="external" href="https://twitter.com/gics_asso">Twitter</a></li>
                    <li class="facebook"><a class="external" href="https://www.facebook.com/gics.asso">Facebook</a></li>
                    <li class="linkedin"><a class="external" href="http://www.linkedin.com/company/groupe-pour-l'initiative-et-la-culture-scientifiques-gics-">LinkedIn</a></li>
                    <li class="google"><a target="_blank" href="https://plus.google.com/116028341437164090594/posts">Google+</a></li>
                </ul>
            </div>
    </div>
    <div class="content">

        <div class="pure-g">

            <div class="footer-column l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3>
                    Association
                </h3>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/">Actualités</a></li>
                    <li><a href="/page/notre-action/">Notre action</a></li>
                    <li><a href="/page/l-equipe/">L'équipe</a></li>
                    <li><a href="/page/historique/">Historique</a></li>
                    <li><a href="/page/documents/">Documents</a></li>
                    <li><a href="/page/communication/">Communication</a></li>
                    <li><a href="/page/nous-aider/">Nous aider</a></li>
                    <li><a href="/page/partenaires/">Partenaires</a></li>
                </ul>
            </div>
            <div class="footer-column l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3>
                    Lycées
                </h3>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/page/assister-aux-seances/">Assister aux séances</a></li>
                    <li><a href="/page/supports-des-cours/">Supports des cours</a></li>
                    <li><a href="/ecoles/">Lycées partenaires</a></li>
                </ul>
            </div>
            <div class="footer-column l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3>
                    Intervenants
                </h3>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/page/devenir-intervenant/">Devenir intervenant</a></li>
                    <li><a href="/page/devenir-responsable-de-lycee/">Devenir responsable de lycée</a></li>
                    <li class="divider"></li>
                    <li><a href="/page/ressources-pedagogiques/">Ressources pédagogiques</a></li>
                    <li><a href="/page/temoignages/">Témoignages</a></li>
                    <li><a href="/ateliers/">Les ateliers</a></li>
                </ul>
            </div>
            <div class="footer-column l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3>
                    Communauté
                </h3>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="/forum/">Forum</a></li>
                    <li><a href="/page/citations/">Citations</a></li>
                    <li><a href="/page/enigmes/">Énigmes</a></li>
                    <li><a href="/admin/">Administration</a></li>
                </ul>
            </div>

        </div>
    </div> -->

</footer>

