{% extends "base.html" %}

{% block body %}
<div class="splash-container">
    <div class="splash">
        <div class="splash-head">
            <h1>Nous organisons des ateliers<br />de découverte scientifique dans les lycées.</h1>
            <a href="/faq/" class="pure-button">En savoir plus</a>
        </div>
        <!-- <p class="splash-subhead">
            Groupe pour l'initiative et la culture scientifiques
        </p> -->
    </div>
</div>

<div class="content-wrapper">
    
    <div class="content">
        <!-- <h2 class="content-head is-center">Ateliers de découverte scientifique dans les lycées</h2> -->
        <h2 class="content-head is-center">Groupe pour l'initiative et la culture scientifiques</h2>

        <div class="pure-g description">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"></i>
                    Le GICS
                </h3>
                <a href="/page/gics/" class="pure-button">Qui sommes-nous ?</a>
                <p>
                    Nous sommes un groupe d'étudiants bénévoles qui animent des ateliers scientifiques dans des lycées.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Pour les étudiants
                </h3>
                <a href="/page/devenir-intervenant/" class="pure-button">Devenir intervenant</a>
                <p>
                    Exposez le sujet de votre choix dans un ou plusieurs lycées.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    Pour les lycéens
                </h3>
                <a href="/ateliers/" class="pure-button">Voir tous les ateliers</a>
                <p>
                    Découvrez des sujets scientifiques exposés par des passionnés du domaine et posez-leur vos questions.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    Pour les professeurs
                </h3>
                <a href="/contact/" class="pure-button">Demander un atelier</a>
                <p>
                    Nous souhaitons présenter à vos élèves des problèmes scientifiques divers afin d'illustrer la puissance des raisonnements qu'ils ont appris en classe.
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <!-- <img class="pure-img-responsive" alt="File Icons" width="300" src="/img/common/file-icons.png"> -->
            <div class="flag"><i class="fa fa-bar-chart"></i></div>
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Quelques chiffres</h2>

            <p>
               Si vous êtes étudiant, faites découvrir le sujet de votre choix à des lycéens motivés.<br />
               La diversité et l'originalité des sujets sont les bienvenues.
            </p>
            <p>
               Si vous êtes lycéen, explorez les sujets des ateliers précédents et demandez à ce qu'un intervenant vienne dans votre classe.
            </p>
            <p>
               Si vous êtes professeur, contactez-nous pour organiser une séance dans votre lycée.
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center" id="contact">Contactez-nous</h2>

        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                {% include "contact_form.html" %}
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>Contactez-nous</h4>
                <p>
                    Pour toute demande de renseignement, utilisez le formulaire ci-contre pour nous contacter.
                </p>

                <h4>Pour plus d'informations</h4>
                <p>
                    Consultez la <a href="/faq">FAQ</a>.
                </p>
            </div>
        </div>

    </div>

    {% include "footer.html" %}

</div>

{% endblock %}
